@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Roboto+Slab&display=swap');

:root{
  --text-font: 'Montserrat', sans-serif;
  --title-font: 'Roboto Slab', serif;
}

*, html, body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
}

#root{
  display: grid;
  grid-template-rows: auto auto 220px;
  grid-template-columns: 100vw;
}

hr{
  border: 1px solid grey;
  opacity: 30%;
  margin-top: 100px;
  margin-bottom: 100px;
} 

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDDCEC;
}

header> a{
  font-family: var(--title-font);
  font-size: 18px;
  padding: 80px;
}

header> .search-icon{
  width: 1.5vw;
}

main{
  display: flex;
  flex-direction: column;
}

.main-container{
  background-image: url("../src/img/Background_Home.png");
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.main-container>button{
  margin-bottom: 20px;
  font-family: var(--text-font);
  font-size: 20px;
  color: white;
  width: 9vmax;
  height: 2vmax;
  border: none;
  background-color: rgb(255, 255, 255, 0.4);
}

.main-container>button:hover{
  cursor: pointer;
  background-color: rgba(194, 194, 194, 0.4);
}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature>h3{
  font-family: var(--title-font);
  font-size: 30px;
  margin-top: 80px;
}

.feature>.cardlist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 110px;
  margin-top: 140px;
}

.card>.bikini-name{
  font-weight: 900;
}

.hover-animation-lapki{
  width: 307px;
  height: 460px;
  background-image: url(../src/img/LAPKI-MODEL.png);
  background-size: cover;
}

.hover-animation-lapki:hover{
  background-image: url(../src/img/LAPKI-MODEL2.png);
  cursor: pointer;
}

.hover-animation-antares{
  width: 307px;
  height: 460px;
  background-image: url(../src/img/ANTARES-MODEL.png);
  background-size: cover;
}

.hover-animation-antares:hover{
  background-image: url(../src/img/ANTARES-MODEL2.png);
  cursor: pointer;
}

.hover-animation-altair{
  width: 307px;
  height: 460px;
  background-image: url(../src/img/ALTAIR-MODEL.png);
  background-size: cover;
}

.hover-animation-altair:hover{
  background-image: url(../src/img/ALTAIR-MODEL2.png);
  cursor: pointer;
}

.models-feature{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.models-feature>.models-desc{
  text-align: center;
}

.models-grid-container{
  display: grid;
  grid-template-columns: 0.6fr 0.6fr;
  margin-top: 140px;
}

.models-grid-container>.row-2-desc, .row-3-desc, .row-6-desc{ 
  align-self: center;
}

.row-3-desc, .row-6-desc, .row-4-image, .row-5-image{
  margin-top: 80px;
}

.row-2-desc>p, .row-3-desc>p, .row-6-desc>p{ 
  margin-top: 10px;
  margin-bottom: 30px;
}

.row-2-desc>button, .row-3-desc>button, .row-6-desc>button{ 
  font-family: var(--text-font);
  font-size: 18px;
  color: white;
  width: 13vmax;
  height: 2.6vmax;
  border: none;
  background-color: black;
}

.row-2-desc>button:hover, .row-3-desc>button:hover, .row-6-desc>button:hover{ 
  cursor: pointer;
  border: solid;
  border-color: black;
  color: black;
  background-color: white;
}

.patterns-feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
}

.patterns-grid-container{
  display: flex;
  gap: 60px;
  align-items: stretch;
  width:321px;
  justify-content: space-between;
}

.pattern-card{
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: stretch;
  width: 321px;
  justify-content: space-between;
}

.patterns-grid-container> .pattern-card> .mumu-pattern{
  background-image: url(../src/img/Mumu.png);
  background-size: cover;
  height: 100%;
}

.patterns-grid-container> .pattern-card> .mumu-pattern>p{
  align-self: center;
}

.patterns-feature>button{
  font-family: var(--text-font);
  font-size: 18px;
  color: white;
  width: 13vmax;
  height: 2.6vmax;
  border: none;
  background-color: black;
  margin-top: 40px;
}

.patterns-feature>button:hover{
  cursor: pointer;
  border: solid;
  border-color: black;
  color: black;
  background-color: white;
}

footer{
  display: flex;
  align-items: center;
  background-color: #F9D0C1;
}

.logo-footer{
  margin-left: 18%;
}

.pages-ref{
  margin-left: 150px;
  margin-bottom: 120px;
}

.pages-ref>a{
  padding: 40px;
}
/* *{
  margin: 0;
}

hr{
  border: 1px solid grey;
  opacity: 30%;
} */

/*-----HEADER-----*/

/* .header-container{
  display: flex;
  background-color: #FDDCEC;
  justify-content: center;
  align-items: center;
}

.header-container>a{
  font-family: var(--title-font);
  font-size: 20px;
  padding: 80px;
}

.logo{
  width: 8vmax;
}

.search-icon{
  width: 1.4vmax;
} */

/*-----HEADER-----*/

/*-----MAIN IMAGE-----*/
/* .main-container{
  position: relative;
}

.main-container>img{
  width: auto;
}

.centered{
  position: absolute;
  top: 88%;
  left: 50%;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

.centered>button{
  font-family: var(--text-font);
  font-size: 20px;
  color: white;
  width: 9vmax;
  height: 2vmax;
  border: none;
  background-color: rgb(255, 255, 255, 0.4);
}

.centered>button:hover{
  cursor: pointer;
  background-color: rgba(194, 194, 194, 0.4);
} */

/*-----MAIN IMAGE-----*/

/*-----SOME MODELS-----*/
/* .somemodels-title{
  margin-top: 80px;
  text-align: center;
  font-family: var(--title-font); 
}

.somemodels-grid-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-bottom: 80px;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 110px;
}

.hover-animation-lapki{
  width: 307px;
  height: 460px;
  background-image: url(../src/img/LAPKI-MODEL.png);
  background-size: cover;
}

.hover-animation-lapki:hover{
  background-image: url(../src/img/LAPKI-MODEL2.png);
  cursor: pointer;
}

.hover-animation-antares{
  width: 307px;
  height: 460px;
  background-image: url(../src/img/ANTARES-MODEL.png);
  background-size: cover;
}

.hover-animation-antares:hover{
  background-image: url(../src/img/ANTARES-MODEL2.png);
  cursor: pointer;
}

.hover-animation-altair{
  width: 307px;
  height: 460px;
  background-image: url(../src/img/ALTAIR-MODEL.png);
  background-size: cover;
}

.hover-animation-altair:hover{
  background-image: url(../src/img/ALTAIR-MODEL2.png);
  cursor: pointer;
} */
/*-----SOME MODELS-----*/

/* .models-title{
  text-align: center;
  margin-top: 80px;
}

.models-desc{
  margin-top: 10px;
  text-align: center;
}

.models-grid-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-bottom: 80px;
}

.rows{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 110px;
}  */

