@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Roboto+Slab&display=swap');

:root{
  --text-font: 'Montserrat', sans-serif;
  --title-font: 'Roboto Slab', serif;
}

*, html, body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
}

/*---------HOME PAGE----------*/

#root{
  display: grid;
  grid-template-rows: auto auto 220px;
  grid-template-columns: 100vw;
}

hr{
  border: 1px solid grey;
  opacity: 30%;
  margin-top: 100px;
  margin-bottom: 100px;
} 

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDDCEC;
  gap: 100px;
  height: 10vh;
}

header> a{
  font-family: var(--title-font);
  font-size: 18px;
  text-decoration: none;
  color: black;
}

header> a:hover{
  color: #5c5c5c;
  text-decoration: underline;
}

.search-icon{
  width: 1.5vw;
}

main{
  display: flex;
  flex-direction: column;
}

.main-container{
  background-image: url("../src/img/Background_Home.png");
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.shopnow-btn{
  margin-bottom: 20px;
  font-family: var(--text-font);
  font-size: 20px;
  color: white;
  width: 13vmax;
  height: 2.6vmax;
  border: none;
  background-color: rgb(255, 255, 255, 0.4);
}

.shopnow-btn:hover{
  cursor: pointer;
  background-color: rgba(194, 194, 194, 0.529);
  border: solid;
  border-color: white;
}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature>h3{
  font-family: var(--title-font);
  font-size: 30px;
  margin-top: 80px;
}

.feature>.cardlist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 110px;
  margin-top: 140px;
}

.card>p{
  margin-top: 2px;
}

.card>a{
  margin-top: 8px;
  font-weight: 900;
  text-decoration: none;
}

.buy-btn{
  font-family: var(--text-font);
  font-size: 18px;
  color: white;
  width: 8.5vmax;
  height: 2vmax;
  border: none;
  background-color: black;
  margin-top: 20px;
}

.buy-btn:hover{ 
  cursor: pointer;
  border: solid;
  border-color: black;
  color: black;
  background-color: white;
}

.hover-animation-lapki{
  width: 307px;
  height: 460px;
  background-image: url(../src/img/LAPKI-MODEL.png);
  background-size: cover;
}

.hover-animation-lapki:hover{
  background-image: url(../src/img/LAPKI-MODEL2.png);
  cursor: pointer;
  transition: all linear 0.4s
}

.hover-animation-antares{
  width: 307px;
  height: 460px;
  background-image: url(../src/img/ANTARES-MODEL.png);
  background-size: cover;
}

.hover-animation-antares:hover{
  background-image: url(../src/img/ANTARES-MODEL2.png);
  cursor: pointer;
  transition: all linear 0.4s
}

.hover-animation-altair{
  width: 307px;
  height: 460px;
  background-image: url(../src/img/ALTAIR-MODEL.png);
  background-size: cover;
}

.hover-animation-altair:hover{
  background-image: url(../src/img/ALTAIR-MODEL2.png);
  cursor: pointer;
  transition: all linear 0.4s
}

.bikini-name{
  margin-top: 10px;
}

.models-feature{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.models-feature>.models-desc{
  text-align: center;
}

.models-grid-container{
  display: grid;
  grid-template-columns: 0.6fr 0.6fr;
  margin-top: 140px;
}

.models-grid-container>.row-2-desc, .row-3-desc, .row-6-desc{ 
  align-self: center;
}

.row-3-desc, .row-6-desc, .row-4-image, .row-5-image{
  margin-top: 80px;
}

.row-2-desc>p, .row-3-desc>p, .row-6-desc>p{ 
  margin-top: 10px;
  margin-bottom: 30px;
}

.personalizar-btn{ 
  font-family: var(--text-font);
  font-size: 18px;
  color: white;
  width: 13vmax;
  height: 2.6vmax;
  border: none;
  background-color: black;
}

.personalizar-btn:hover{ 
  cursor: pointer;
  border: solid;
  border-color: black;
  color: black;
  background-color: white;
}

.patterns-feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
  gap: 25px;
}

.patterns-feature>p{
  text-align: center;
}

.patterns-grid-container{
  display: flex;
  gap: 90px;
  align-items: stretch;
  justify-content: space-between;
}

.pattern-card{
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}

.mumu-pattern{
  background-image: url(../src/img/Mumu.png);
  background-size: cover;
  height: 300px;
  width: 300px;
}

.nina-pattern{
  background-image: url(../src/img/Nina.png);
  background-size: cover;
  height: 300px;
  width: 300px;
}

.milkshake-pattern{
  background-image: url(../src/img/Milkshake.png);
  background-size: cover;
  height: 300px;
  width: 300px;
}

.patterns-grid-container> .pattern-card> .mumu-pattern>p{
  align-self: center;
}

.patterns-feature>button{
  font-family: var(--text-font);
  font-size: 18px;
  color: white;
  width: 13vmax;
  height: 2.6vmax;
  border: none;
  background-color: black;
  margin-top: 20px;
}

.patterns-feature>button:hover{
  cursor: pointer;
  border: solid;
  border-color: black;
  color: black;
  background-color: white;
}

/*--------FOOTER--------*/
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9D0C1;
}

.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pages-ref>a{
  padding: 40px;
  text-decoration: none;
  color: black;
}

.pages-ref>a:hover{
  color: #6F6F6F;
}

.socials-container{
  display: flex;
}

.socials-container>p{
  font-size: 12px;
}

/*---------SIZEGUIDE PAGE----------*/
.sizeguide-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sizeguide-container>h1{
  margin-top: 120px;
}

.size-img{
  margin-top: 80px;
  margin-bottom: 80px;
  width: 428px;
  height: 503px;
  background-image: url(../src/img/size-guide.jpg);
}

/*---------RETURNS PAGE----------*/
.returns-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 110px;
}

.trocas-img{
  margin-top: 120px;
  margin-bottom: 120px;
  width: 302px;
  height: 302px;
  background-image: url(../src/img/Layer-2.png);
}

.text-container>h1{
  font-family: var(--title-font);
}

.text-container>p{
  margin-top: 10px;
}

/*---------SOBRE NOS PAGE---------*/
.sobre-title{
  margin-top: 40px;
  font-family: var(--title-font);
  align-self: center;
}

.sobrenos-container{
  display: grid;
  grid-template-columns: 0fr 0fr;
  margin-top: 60px;
  align-items: stretch;
  justify-content: center;
}

.row-2-desc-sobrenos{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  width: 885px;
  height: 518px;
  background-color: #FBE3DA;
}

.row-2-desc-sobrenos>p{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.row-3-desc-sobrenos{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  width: 776px;
  height: 591px;
  background-color: #FBE3DA;
}

.row-3-desc-sobrenos>p{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.row-2-desc-sobrenos>h1{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.row-3-desc-sobrenos>h1{
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

/*--------PRODUCTS PAGE--------*/
.products-container{
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

ul{
  list-style: none;
  padding:0;
  margin: 0;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr 1fr;
}

.last-product-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-title{
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: var(--title-font);
  text-align: left;
  padding-left: 25%;
}

.choose-pattern{
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-bottom: 40px;
  padding-left: 25%;
}

.fierce-pattern-products{
  background-image: url(../src/img/padroes/Fierce.png);
  width: 36px;
  height: 36px;
}

.fierce-pattern-products:hover{
  cursor: pointer;
}

.nina-pattern-products{
  background-image: url(../src/img/padroes/Nina.png);
  width: 36px;
  height: 36px;
}

.nina-pattern-products:hover{
  cursor: pointer;
}

.fly-high-pattern-products{
  background-image: url(../src/img/padroes/Fly\ High.png);
  width: 36px;
  height: 36px;
}

.fly-high-pattern-products:hover{
  cursor : pointer;
}

.meadow-pattern-products{
  background-image: url(../src/img/padroes/Meadow.png);
  width: 36px;
  height: 36px;
}

.meadow-pattern-products:hover{
  cursor: pointer;
}

.wild-sky-pattern-products{
  background-image: url(../src/img/padroes/Wild\ Sky.png);
  width: 36px;
  height: 36px;
}

.wild-sky-pattern-products:hover{
  cursor: pointer;
}

.mumu-pattern-products{
  background-image: url(../src/img/padroes/Mumu.png);
  width: 36px;
  height: 36px;
}

.mumu-pattern-products:hover{
  cursor: pointer;
}

.milkshake-pattern-products{
  background-image: url(../src/img/padroes/Milkshake.png);
  width: 36px;
  height: 36px;
}

.milkshake-pattern-products:hover{
  cursor: pointer;
}

.deep-ocean-pattern-products{
  background-image: url(../src/img/padroes/Deep\ Ocean.png);
  width: 36px;
  height: 36px;
}

.deep-ocean-pattern-products:hover{
  cursor: pointer;
}

.dark-sunset-pattern-products{
  background-image: url(../src/img/padroes/Dark\ Sunset.png);
  width: 36px;
  height: 36px;
}

.dark-sunset-pattern-products:hover{
  cursor: pointer;
}

.sweat-peach-pattern-products{
  background-image: url(../src/img/padroes/Sweet\ Peach.png);
  width: 36px;
  height: 36px;
}

/*---------CHECKOUT PAGE-----------*/ 
.checkout-container{
  display: flex;
  justify-content: center;
}

.checkout-grid{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.small-img-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.different-img-1{
  background-image: url(../src/img/Retângulo\ 144.png);
  background-size: cover;
  width: 89px;
  height: 94px;
}

.different-img-2{
  background-image: url(../src/img/Retângulo\ 144.png);
  background-size: cover;
  width: 89px;
  height: 94px;
}

.different-img-3{
  background-image: url(../src/img/Retângulo\ 144.png);
  background-size: cover;
  width: 89px;
  height: 94px;
}

.different-img-4{
  background-image: url(../src/img/Retângulo\ 144.png);
  background-size: cover;
  width: 89px;
  height: 94px;
}

.bikini-model{
  background-image: url(../src/img/MASK-HADAR.png);
  background-size: cover;
  width: 444px;
  height: 430px;
}